---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}";
@import "minimal-mistakes";

.feature__item {
  .archive__item-teaser {
    height: 200px; /* Adjust this value as needed */
    overflow: hidden;
    
    img {
      width: 100%;
      height: 200px; /* Match container height */
      object-fit: cover;
      object-position: center;
    }
  }
}

.masthead {
  background-color: #30574E;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;

  
  &__inner-wrap {
    background-color: #30574E;
    padding: 0.5em; // Reduce padding
  }

  .site-nav {
    background-color: #30574E;
  }

  .greedy-nav {
    background-color: #30574E;

    a {
      color: #fff;
      &:before {
        background: #ffffff !important;
      }
    }

    .visible-links {
      background-color: #30574E;
    }

    .hidden-links {
      background-color: #30574E;
    }
  }
}

#main {
  padding-top: 40px; // Reduce top padding to match smaller header
}

.page__footer {
  background-color: #30574E;
  color: #fff;
  width: 100%;
  padding: 0.3em 0;
  
  .page__footer-follow,
  .page__footer-copyright {
    font-size: 0.8em;
    line-height: 1;
    padding: 0;
    margin: 0;
  }
}

.page {
  padding-bottom: 0; // Remove extra padding since footer isn't fixed anymore
}

.btn--primary {
  background-color: #30574E !important;
  color: #fff !important;
  border-color: #30574E !important;
  
  &:visited {
    background-color: #30574E !important;
    color: #fff !important;
  }
  
  &:hover {
    background-color: lighten(#30574E, 10%) !important;
    color: #fff !important;
  }
}